.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 282px);
  grid-template-rows: repeat(1, 361px);
  justify-content: center;
}

@media (min-width: 768px) {
  .cards__list {
    -ms-grid-columns: repeat(2, 282px);
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(2, 361px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    
  }
}
@media (min-width: 1280px) {
  .cards__list {
    -ms-grid-columns: repeat(3, 282px);
    grid-template-columns: repeat(3, 361px);
    grid-template-rows: repeat(2, 361px);
  }
}